<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>rise-slides</title>
  </head>
  <body style="margin: 0px;">
    <rise-playlist-item></rise-playlist-item>

    <script src="<%= htmlWebpackPlugin.files.chunks['vendor'].entry %>"></script>
    <script type="text/javascript" src="<%=process.env.NODE_ENV !== 'production'
     ? 'https://widgets.risevision.com/beta/components/rise-playlist-item/rise-playlist-item.js'
     : '../rise-playlist-item/rise-playlist-item.js' %>"></script>
    <script src="<%= htmlWebpackPlugin.files.chunks['component'].entry %>"></script>

    <div id="log" style="height: 450px; width: 500px; display:none;"></div>
    <script src="http://rvashow.appspot.com/scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script type="text/javascript" language="javascript" src="http://rvashow.appspot.com/scripts/viewerScripts.js"></script>
    <script src="http://rvashow.appspot.com/scripts/primus.js" type="text/javascript"></script>
    <script src="http://rvashow.appspot.com/scripts/primus-local-messaging.js" type="text/javascript"></script>
    <script src="http://rvashow.appspot.com/dist/viewer.js"></script>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function() {
        window.disableViewerContentFetch = true;
        window.RiseVision.Viewer.EntryPoint.init();

        const risePlaylistItem = document.getElementsByTagName("rise-playlist-item")[0];
        const RiseSlides = customElements.get('rise-slides');
        const riseSlides = new RiseSlides();

        risePlaylistItem.appendChild(riseSlides);

        const eventPlay = new CustomEvent("play");
        const eventConfigure = new CustomEvent("configure", 
        {
          detail: 
          {
            displayId: "xxxxxx", 
            url: "https://docs.google.com/presentation/d/e/2PACX-1vRY1oUY18uGaVzyo6WVlQKSVm1M5NRAMXDnrPUiD9Wn1Hb4FxY8BeL0-qJq6uO-7pDbSg-xVfSQKNys/embed?start=false&loop=false&delayms=3000&slide=id.gd9c453428_0_16", 
            componentId: "demoComponent",
            width: "1200",
            height: "900"
          }
        });
        risePlaylistItem.dispatchEvent(eventConfigure);

        setTimeout(()=>{
          risePlaylistItem.dispatchEvent(eventPlay);
        }, 5000)
      });
    </script>
  </body>
</html>
